<h1> Edit Symptoms </h1>

<h2>
    <%= form_for @symptom do |f| %> 
        <% if @symptom.errors.any? %>
            <ul>
                <% @symptom.errors.full_messages.each do |msg| %>
                    <li> <%= msg %> </li>
                <% end %>
            </ul>
        <% end %>
        <ul> 
            <li>
                <%= f.label :symptom %>
                <%= f.text_field :name %>
            </li>
            <br>
            <%= f.submit %>
        </ul>
    <% end %>
</h2>