<h1> Symptoms </h1>
<h1>
<%= form_for @symptom do |f| %> 
    <% if @symptom.errors.any? %>
        <ul>
            <% @symptom.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
            <% end %>
        </ul>
    <% end %>
    <ul> 
        <li>
            <%= f.label :user %>
            <%= f.collection_select(:user_id, @users, :id, :name) %>
        </li>
        <br>
        <li>
            <%= f.label :symptom %>
            <%= f.collection_select(:symptom_id, @symptoms, :id, :name) %>
        </li>
        <br>
        <%= f.submit %>
    </ul>
<% end %>
</h1> 