<h1> Treatments </h1>
<h1>
<%= form_for @treatment do |f| %> 
    <% if @treatment.errors.any? %>
        <ul>
            <% @treatment.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
            <% end %>
        </ul>
    <% end %>
    <ul> 
        <li>
            <%= f.label :illness %>
            <%= f.collection_select(:illness_id, @illnesses, :id, :name) %> 
        </li>
        <br>
        <li>
<form action="/show.html.erb">
            <label>Please choose treatment:
            <select name="choose treatment" multiple size="7">
            <optgroup label="Self Care">
            <option value="Over-the-counter medicines (acetaminophen)">Over-the-counter medicines (acetaminophen)</option>
            <option value="Stay home">Stay home</option>
            </optgroup>
            <optgroup label="Medical Care">
            <option value="Antiviral drug (remdesivir)">Antiviral drug (remdesivir)/option>
            <option value="Hospitalized">Hospitalized</option>
            <option value="Oxygen therapy">Oxygen therapy</option>
            </optgroup>
            </select>
            </label>
<input type="submit" value="Submit">
</form>
        </li>
        <br>
        <%= f.submit %>
    </ul>
<% end %>
</h1> 